@font-face {
    font-family: 'game';
    src: URL('dpcomic.ttf') format('truetype');
 }

 *{
    font-family: 'game', Fallback, sans-serif;
 }

body {
    /* height: 100vh;
    margin: 0;
    background-color: aliceblue; */
    overflow: hidden;
    /* cursor: none; */
    font-family: 'game', Fallback, sans-serif;
    background-color: #121212;
}

.game-field{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px 5px #ffffff78;
}
.counter{
    display: flex;
    background: #3700B3;
    height: 45px;
    width: 800px;
    color: #03DAC6;
}
.counter-tile{
    text-align: center;
    font-size: 50px;
    flex-grow: 1;
}
.counter-seperator{
    background-color: #03DAC6;
    height: 100%;
    width: 5px;
}
.line{
    height: 5px;
    background-color: #03DAC6;
}
.game-area{
    background-color: #cf6679;
    width: 100%;
    height: 450px;
    position: relative;
}

.bar{
    background-color: #3700B3;
    height: 80px;
    width: 10px;
    top: -120%;
    border-radius: 5px;
    position: absolute;
    /* transition: all 0.1s ease-in-out; */

}
.left-bar{
    left: 5px;
}
.right-bar{
    right: 5px;
}
.ball{
    width: 16px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #3700B3;
    position: absolute;
    top: 120%;
    left: 120%;
    transform: translate(-50%,-50%);
    /* transition: all 0.1s ease-in-out; */
}

.start-button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

button{
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #03DAC6;
    font-size: 30px;
    cursor: pointer;
    box-shadow: 0 0 10px 5px #ffffff78;

    /* border: 2px solid white; */
}
button.disabled{
    cursor: not-allowed;
    background-color: #00695f;
}
button.hidden{
    display: none;
}